body {
  font-size: 90%;
  font-family:"Courier New",Courier,monospace;
letter-spacing: 0.15em;
background-color: #F1F7ED;}
#content {overflow: auto;}
#nav, #feature, #footer {
  margin 1%;}
  .Column1, .Column2, .Column3 {
    width: 31.3%;
    float: left;
    margin 1%;}
    .Column3{ margin-right: 0%;}

#page {
  max-width: 1000px;
  min-width: 1000px;
  margin: 10px auto 10;
  padding:none;
  border:none;
  background-color: none;}
  #logo{
    width: 200px;
    margin:10px auto 25px auto;}
    ul {
      width: 2000px;
      padding: 25px;
      margin: 50px auto  50px auto;
      border-top: 2px solid #F1F7ED;
      border-bottom: 1px solid #F1F7ED;
      text-align: 1000px;}
      li {
        display: inline;
padding: 0.5em;}
#nav, #footer {
  background-color: #747274;
  padding: 0.5em 0;}
  #feature {
    height: 10em;
    margin-bottom: 1em;
    background-color: #747274;
  }
        p {
color: #F1F7ED;
          text-align: center;
          width:550px;
          margin: 20px auto 20px auto;
          font-weight: normal;}
a {
  color: #F1F7ED;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px 18px;}
a:hover, a.on {
  color: #cc3333;
  background-color: #red;}
  .grid-container {
  border: 3px dashed purple;
  padding: 1em;
/*-- enables grid layout--*/
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  border: 10px solid white;
  padding: .5em;
  width: 400px;
  background-color:no;
}

.grid-container {
  grid-template-areas:
                      "feat1 feat2 feat3"
                      "left middle right";
}
.two {
  grid-area: feat1;
}
.three {
  grid-area: feat2;
}
.four {
  grid-area: feat3;
}
.five {
  grid-area: left;
  height: 500px;
}
.six {
  grid-area: right;
  height: 500px;
}
.seven {
  grid-area: middle;
  height: 500px;
}
